@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
    margin: 0;
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: .5fr 4fr 3fr 2fr;
    grid-template-areas:
        "main   main    header"
        "main   main    candy"
        "nom    yum     candy"
        "footer footer  candy";

    height: 100vh;
    margin: 0em;
}

main {
    grid-area: main;
    background: rgb(255, 250, 223);
    background: linear-gradient(120deg, rgba(255, 250, 223, 1) 0%, rgba(205, 201, 179, 1) 100%);
}

section.nom {
    grid-area: nom;
    background: rgb(255, 206, 2);
    background: linear-gradient(120deg, rgba(255, 206, 2, 1) 0%, rgba(244, 153, 6, 1) 100%);
    color: #ffffff;
}

section.nom:hover {
    opacity: 0.8;
}

section.yum {
    grid-area: nom;
    background: rgb(255, 206, 2);
    background: linear-gradient(120deg, rgba(255, 206, 2, 1) 0%, rgba(244, 153, 6, 1) 100%);
    color: #ffffff;
}

section.yum {
    grid-area: yum;
    background: #601B4A;
    background: linear-gradient(153deg, #601C4C 0%, #601B4A 100%);
    color: #ffffff;
}

section.yum:hover {
    opacity: 0.8;
}

section.diabeetus {
    grid-area: footer;
    background: rgb(51, 51, 51);
    background: linear-gradient(153deg, rgba(51, 51, 51, 1) 0%, rgba(96, 95, 95, 1) 100%);
    color: #ffffff;
}

section.diabeetus:hover {
    opacity: 0.8;
}

header {
    grid-area: header;
}

.candy {
    grid-area: candy;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/candy.jpg') no-repeat;
    background-size: cover;
    color: white;
}

.candy:hover {
    opacity: 0.8;
}

ul {
    list-style-type: none;
    margin: 10;
    padding: 10;
    overflow: hidden;
}

li {
    float: left;
    font-size: 1.4em;
    font-style: bold;
}

li a {
    display: block;
    text-align: center;
    padding: 26px;
    text-decoration: none;
}

li a:hover {
    color: #333;
}

section.diabeetus li a:hover {
    color: goldenrod;
}

.push {
    float: right;
    margin: 1.2em 2.5em;
}

.title {
    font-size: 2.5em;
    font-weight: 700;
    margin: 1rem 4rem 1rem 4rem;
    line-height: 1.1em;
}

.blurb {
    margin: 2rem 4rem 1rem 4rem;
    font-size: 1.5rem;
    line-height: 1.8em;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

body,
html {
    color: #777;
    line-height: 1.8;
}

p {
    font-size: 18px;
}

.transition-fade {
    transition: 0.4s;
    opacity: 1;
}

html.is-animating .transition-fade {
    opacity: 0;
}

@media only screen and (max-device-width: 800px) {
    #logo {
        width: 90%;
        padding-left: 10%;
    }

    .title {
        margin: 4.5rem 3rem 1rem 3rem;
        line-height: 1.3;
    }

    .blurb {
        font-size: 2.2rem;
        line-height: 1.4;
        margin: 2rem 3rem 1rem 3rem;
    }

    li {
        padding-top: 5%;
        font-size: 1.7rem;
    }
}