.transition-fade {
    opacity: 1;
    transition: 400ms;
}

html.is-animating .transition-fade {
    opacity: 0.5;
 
}


.transition-new {
    opacity: 1;
    transition: 400ms;
}

html.is-animating .transition-new {
    opacity: 0.5;
 
}

